* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f0f0f0;
}

.section {
    padding: 80px 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
    margin-bottom: 40px;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

header {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.header-container {
    max-width: 800px;
    margin: auto;
}

.name {
    font-family: "Lucida Handwriting";
    color: #ffe200;
    font-size: 2.5em;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 140px;
    border-radius: 50%;
    margin-right: 20px;
}

.skills-section {
    background-color: #eef2f7;
    padding: 40px 0;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill {
    width: 80%;
    margin: 15px 0;
}

.progress-bar {
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.progress {
    height: 10px;
    background: #3cba54;
    border-radius: 20px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 0 0 calc(14.2857% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.education-item:hover {
    transform: translateY(-5px);
}

.histogram {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 300px;
}

.point-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.point {
    width: 30px;
    height: 30px;
    border: 5px solid #3498db;
    border-radius: 50%;
    margin-right: 10px;
}

.connecting-line {
    position: absolute;
    width: 5px;
    background-color: #3498db;
    left: 13px;
    top: 37px; 
    height: 79px; 
}

.image-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-left: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.title {
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
}

.description {
    font-size: 0.9em;
    color: #555;
    margin: 0;
}

.projects-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    max-width: 100%; 
    border-radius: 5px;
}


/* Contact Form Styling */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eef2f7;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

.contact-form input[type="email"],
.contact-form textarea,
.contact-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form input[type="submit"] {
    background-color: #3cba54;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

.contact-form input[type="submit"]:hover {
    background-color: #36a74a;
}

/* Pielāgo CAPTCHA novietojumu */
.g-recaptcha {
    margin: 10px 0; /* Atstājiet atstarpi virs un zem CAPTCHA */
}

/* Ja nepieciešams, varat pievienot stilu, lai formu centrētu */
.contact-form {
    display: flex;
    flex-direction: column; /* Iestatiet uz kolonnu, lai elementi būtu viens virs otra */
    align-items: flex-start; /* Iestatiet elementus pa kreisi */
}


.error-message {
    color: red; /* Kļūdas ziņojuma krāsa */
    display: none; /* Sākumā slēpj ziņojumu */
    margin-top: 10px; /* Attālums no citiem elementiem */
}




footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
